@charset "UTF-8";
/* cssリセット */
/*利用するタグによってこちらの内容は増やす*/
*, *::before, *::after {
  /* 直感的なボックスサイズのモデルを使用 */
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-seri;
  font-feature-settings: "palt";
  font-weight: normal;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* ====================
 変数
======================= */
:root {
  --content-width: 1080px;
  --content-width-sm: 720px;
  --base-color: #808080;
  --accent-color: #1DA9B3;
  --bg-color: #F0F5F5;
  --bg-color-deep: #77CBD1;
  --bg-color-label: #A8DBE2;
  --font-size-lg: 1.125rem;
}

/* ====================
 共通要素
======================= */
body {
  font-size: 0.875rem;
  color: var(--base-color);
  line-height: 1.75;
}
.pc-none {
  display: none;
}
@media screen and (max-width: 767px) {
  .pc-none {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .sp-none {
    display: none;
  }
}

.c-section {
  margin: 240px auto 0;
  padding: 0 20px;
  max-width: var(--content-width);
  box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .c-section {
    margin-top: 160px;
  }
}
.c-section-title {
  margin-bottom: 80px;
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-section-title {
    margin-bottom: 60px;
    font-size: 1.4375rem;
  }
}

.c-under {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 120px 20px 0;
  box-sizing: content-box;
}
.c-under-title {
  margin-bottom: 100px;
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-under-title {
    margin-bottom: 60px;
    font-size: 1.4375rem;
  }
}

.c-underSectionTitle {
  text-align: center;
}
.c-underSectionTitle-inner {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 1px solid #77CBD1;
  font-size: 1.25rem;
  color: var(--accent-color);
}

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin: 80px auto 0;
  background-color: var(--bg-color-deep);
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}
@media screen and (max-width: 767px) {
  .c-btn {
    width: 220px;
    height: 40px;
    margin-top: 60px;
    font-size: 0.9375rem;
  }
}
.c-btn:hover {
  opacity: 0.7;
}

/* ヘッダー */
.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .c-header {
    height: 60px;
    padding-left: 22px;
  }
}
.c-header-title {
  line-height: 1;
}
.c-header-logo {
  width: 180px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .c-header-logo {
    width: 148px;
  }
}

.c-nav {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .c-nav {
    display: none;
  }
}
.c-nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.c-nav-item {
  margin-left: 4.4vw;
}
.c-nav-item--contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 180px;
  background-color: var(--bg-color-deep);
  color: #fff;
  text-align: center;
}
.c-nav-link {
  font-size: 1rem;
}

.c-spBtn {
  display: none;
}

.c-spBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  height: 23px;
  cursor: pointer;
  /* ハンバーガー閉じる */
}
@media screen and (max-width: 767px) {
  .c-spBtn {
    display: block;
  }
}
.c-spBtn.is-open .c-spBtn-bar {
  background-color: transparent;
}
.c-spBtn.is-open .c-spBtn-bar::before, .c-spBtn.is-open .c-spBtn-bar::after {
  background-color: #fff;
}
.c-spBtn.is-open .c-spBtn-bar::before {
  top: 0;
  transform: rotate(45deg);
}
.c-spBtn.is-open .c-spBtn-bar::after {
  bottom: 0;
  transform: rotate(135deg);
}

.c-spBtn-bar {
  position: relative;
  top: 10px;
  z-index: 2;
  display: block;
  width: 32px;
  height: 2px;
  background-color: var(--bg-color-deep);
  transition: 0.3s;
}
.c-spBtn-bar::before, .c-spBtn-bar::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-deep);
  content: "";
  transition: 0.3s;
}
.c-spBtn-bar::before {
  top: 10px;
}
.c-spBtn-bar::after {
  bottom: 10px;
}

.c-spNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(143, 200, 208, 0.85);
}
.c-spNav-logo {
  position: absolute;
  top: 19px;
  left: 22px;
  width: 148px;
}
.c-spNav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.c-spNav-item {
  padding: 20px 0;
  font-family: var(--font-gothic);
  font-size: 1.25rem;
  color: #fff;
}
.c-spNav-instagram {
  width: 42px;
  height: 42px;
  margin-top: 20px;
}

/* コンタクト */
.c-contact {
  margin-top: 240px;
  padding: 90px 0 100px;
  background-color: var(--bg-color);
}
@media screen and (max-width: 767px) {
  .c-contact {
    margin-top: 200px;
    padding: 80px 0;
  }
}
.c-contact-title {
  margin-bottom: 0;
}
.c-contact-text {
  margin-top: 32px;
  font-size: 1.125rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-contact-text {
    margin-top: 12px;
    font-size: 0.875rem;
  }
}
.c-contact-c-btn {
  margin-top: 36px;
}
@media screen and (max-width: 767px) {
  .c-contact-c-btn {
    margin-top: 20px;
  }
}

/* フッター */
.c-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: var(--bg-color-deep);
}
@media screen and (max-width: 767px) {
  .c-footer {
    display: block;
    height: auto;
    padding: 50px 0 60px;
    text-align: center;
  }
}
.c-footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .c-footer-inner {
    display: block;
  }
}
.c-footer-logo {
  width: 180px;
  line-height: 1;
}

.c-footerNav {
  height: 100%;
}
.c-footerNav-list {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .c-footerNav-list {
    display: block;
    margin-top: 32px;
  }
}
.c-footerNav-item {
  margin-left: 4.4vw;
}
@media screen and (max-width: 767px) {
  .c-footerNav-item {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .c-footerNav-item + .c-footerNav-item {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .c-footerNav-item:last-child {
    margin-top: 32px;
  }
}
.c-footerNav-link {
  font-size: 1rem;
  color: #fff;
}
.c-footerNav-instagram {
  width: 32px;
  height: 32px;
}

/* ====================
 制作実績
======================= */
.c-worksList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 45px;
}
@media screen and (max-width: 767px) {
  .c-worksList {
    grid-template-columns: 1fr;
    gap: 48px;
  }
}

.c-worksList-imgWrap {
  position: relative;
}

.c-worksList-name {
  margin-top: 16px;
  font-size: var(--font-size-lg);
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .c-worksList-name {
    margin-top: 8px;
    font-size: 1rem;
  }
}

.c-worksList-text {
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .c-worksList-text {
    margin-top: 2px;
    font-size: 0.75rem;
  }
}

.c-worksLabel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 26px;
  background-color: var(--bg-color-label);
  color: #fff;
}
@media screen and (max-width: 767px) {
  .c-worksLabel {
    width: 120px;
    height: 24px;
    font-size: 0.75rem;
  }
}

/* ====================
 ページ読み込み
======================= */
/* ====================
 トップページ
======================= */
.p-top-hero {
  position: relative;
}
.p-top-heroText {
  position: absolute;
  top: 11.9vw;
  left: 10.24vw;
  width: 21vw;
  max-width: 288px;
}
@media screen and (max-width: 767px) {
  .p-top-heroText {
    top: 26.6vw;
    left: 8vw;
    width: 55.2vw;
  }
}
.p-top-about {
  text-align: center;
}
.p-top-aboutTitle {
  line-height: 1.5625;
}
.p-top-aboutText {
  margin-top: 54px;
  font-size: 1.125rem;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .p-top-aboutText {
    margin-top: 40px;
    font-size: 0.9375rem;
  }
}
.p-top-aboutText + .p-top-aboutText {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .p-top-aboutText + .p-top-aboutText {
    margin-top: 24px;
  }
}
.p-top-aboutLogo {
  width: 124px;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .p-top-aboutLogo {
    width: 88px;
    margin-top: 40px;
  }
}
.p-top-problemList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .p-top-problemList {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
.p-top-problemCopy {
  margin-top: 24px;
  font-size: 1.125rem;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .p-top-problemCopy {
    margin-top: 16px;
    font-size: 1rem;
  }
}
.p-top-problemText {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .p-top-problemText {
    margin-top: 10px;
    line-height: 1.85;
  }
}
.p-top-serviceList {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, 1fr);
  max-width: var(--content-width-sm);
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-top-serviceList {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.p-top-serviceImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.p-top-serviceImg--derection {
  width: 142px;
}
.p-top-serviceImg--web {
  width: 160px;
}
.p-top-serviceImg--sns {
  width: 122px;
}
.p-top-serviceCopy {
  margin-top: 32px;
  font-size: var(--font-size-lg);
  color: var(--accent-color);
  text-align: center;
}
.p-top-serviceText {
  margin-top: 16px;
  line-height: 1.75;
}
/* ====================
 私について
======================= */
.p-about-profile {
  display: flex;
  align-items: center;
  max-width: var(--content-width-sm);
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-about-profile {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  .p-about-profileInner {
    margin-top: 40px;
  }
}
.p-about-profileName {
  font-size: 1.25rem;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .p-about-profileName {
    font-size: 1.125rem;
    text-align: center;
  }
}
.p-about-profileText {
  margin-top: 20px;
}
.p-about-profileImg {
  width: 316px;
  margin-left: 60px;
}
@media screen and (max-width: 767px) {
  .p-about-profileImg {
    width: 300px;
    margin: 0 auto;
  }
}
.p-about-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .p-about-instagram {
    margin-top: 40px;
  }
}
.p-about-instagramImg {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .p-about-instagramImg {
    width: 36px;
    height: 36px;
  }
}
.p-about-instagramText {
  margin-left: 12px;
  color: #999;
}
@media screen and (max-width: 767px) {
  .p-about-instagramText {
    font-size: 0.75rem;
  }
}
.p-about-skill {
  margin: 80px auto 0;
}
.p-about-skillList {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .p-about-skillList {
    display: grid;
    grid-template-columns: repeat(3, 64px);
    gap: 24px 12px;
  }
}
.p-about-skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid var(--bg-color-deep);
  border-radius: 50%;
  font-size: 0.75rem;
  color: var(--accent-color);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-about-skillItem {
    width: 64px;
    height: 64px;
    font-size: 0.6875rem;
  }
}
.p-about-skillItem + .p-about-skillItem {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .p-about-skillItem + .p-about-skillItem {
    margin-left: 0;
  }
}
.p-about-logo {
  margin-top: 150px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-about-logo {
    margin-top: 110px;
  }
}
.p-about-logoImg {
  margin-top: 50px;
  width: 124px;
  height: 106px;
}
@media screen and (max-width: 767px) {
  .p-about-logoImg {
    width: 86px;
    height: 74px;
  }
}
.p-about-logoText {
  margin-top: 60px;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .p-about-logoText {
    margin-top: 32px;
    font-size: 0.875rem;
  }
}
.p-about-logoText + .p-about-logoText {
  margin-top: 24px;
}

/* ====================
 制作実績
======================= */
.p-works-category + .p-works-category {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .p-works-category + .p-works-category {
    margin-top: 120px;
  }
}
@media screen and (max-width: 767px) {
  .p-works-labelWrap {
    text-align: center;
  }
}
.p-works-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 36px;
  background-color: var(--bg-color-label);
  font-size: 1.125rem;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .p-works-label {
    width: 150px;
    height: 32px;
    font-size: 0.9375rem;
  }
}
.p-works-label + .p-works-label {
  margin-left: 12px;
}
.p-works-list {
  margin-top: 32px;
}

/* ====================
 サービス
======================= */
.p-service-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 660px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}
.p-service-section + .p-service-section {
  margin-top: 100px;
}
.p-service-sectionImgWrap {
  display: flex;
  align-items: center;
  width: 190px;
}
.p-service-sectionImg--derection {
  width: 108px;
}
.p-service-sectionImg--web {
  width: 140px;
}
.p-service-sectionImg--sns {
  width: 120px;
}
.p-service-sectionImg--design {
  width: 120px;
}
.p-service-sectionImg--pc {
  width: 108px;
}
.p-service-sectionInner {
  width: 470px;
}
.p-service-sectionTitle {
  font-size: 1.25rem;
  color: var(--accent-color);
}
.p-service-sectionText {
  margin-top: 12px;
  font-size: 0.9375rem;
}
.p-service-sectionBtn {
  margin: 24px 0 0 0;
  width: 220px;
  height: 32px;
  font-size: 0.75rem;
}

/* ====================
 コンタクト
======================= */
.p-contact-title {
  margin-bottom: 50px;
}
.p-contact-text {
  font-size: 1rem;
  text-align: center;
}
.p-contact-form {
  max-width: var(--content-width-sm);
  margin: 80px auto 240px;
}
.p-contact-formItem + .p-contact-formItem {
  margin-top: 32px;
}
.p-contact-formLabel {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
}
.p-contact-formRequired {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 24px;
  margin-left: 14px;
  background-color: var(--bg-color-label);
  font-size: 0.75rem;
  color: #fff;
}
.p-contact-formInput {
  width: 100%;
  height: 54px;
  margin-top: 10px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: var(--base-color);
  line-height: 1.7;
}
.p-contact-formInput--textarea {
  height: 290px;
}/*# sourceMappingURL=style.css.map */