@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
*, *::before, *::after {
  /* 直感的なボックスサイズのモデルを使用 */
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-seri;
  font-feature-settings: "palt";
  font-weight: normal;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}


/* ====================
 変数
======================= */
:root {
  --content-width: 1080px;
  --content-width-sm: 720px;
  --base-color: #808080;
  --accent-color: #1DA9B3;
  --bg-color: #F0F5F5;
  --bg-color-deep: #77CBD1;
  --bg-color-label: #A8DBE2;
  --font-size-lg: 1.125rem;
}


/* ====================
 共通要素
======================= */
body {
  font-size: 0.875rem;
  color: var(--base-color);
  line-height: 1.75;

  @media screen and (max-width: 767px) {
  }
}

.pc-none {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.sp-none {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.c-section {
  margin: 240px auto 0;
  padding: 0 20px;
  max-width: var(--content-width);
  box-sizing: content-box;

  @media screen and (max-width: 767px) {
    margin-top: 160px;
  }

  &-title {
    margin-bottom: 80px;
    font-size: 2rem;
    color: var(--accent-color);
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
      font-size: 1.4375rem;
    }
  }
}

.c-under {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 120px 20px 0;
  box-sizing: content-box;

  &-title {
    margin-bottom: 100px;
    font-size: 2rem;
    color: var(--accent-color);
    text-align: center;
  }
}

.c-underSectionTitle {
  text-align: center;

  &-inner {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid #77CBD1;
    font-size: 1.25rem;
    color: var(--accent-color);
  }
}

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin: 80px auto 0;
  background-color: var(--bg-color-deep);
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;

  @media screen and (max-width: 767px) {
    width: 220px;
    height: 40px;
    margin-top: 60px;
    font-size: 0.9375rem;
  }

  &:hover {
    opacity: 0.7;
  }
}

/* ヘッダー */
.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-left: 40px;

  @media screen and (max-width: 767px) {
    height: 60px;
    padding-left: 22px;
  }

  &-title {
    line-height: 1;
  }

  &-logo {
    width: 180px;
    line-height: 1;

    @media screen and (max-width: 767px) {
      width: 148px;
    }
  }
}

.c-nav {
  height: 100%;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &-list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-item {
    margin-left: 4.4vw;
    &--contact {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 180px;
      background-color: var(--bg-color-deep);
      color: #fff;
      text-align: center;
    }
  }

  &-link {
    font-size: 1rem;
  }
}

.spNav,
.spBtn {
  display: none;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.spBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  height: 23px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.spBtn-bar {
  position: relative;
  top: 10px;
  z-index: 2;
  display: block;
  width: 32px;
  height: 2px;
  background-color: var(--bg-color-deep);
  transition: 0.3s;
}

.spBtn-bar::before,
.spBtn-bar::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-deep);
  content: "";
  transition: 0.3s;
}

.spBtn-bar::before {
  top: 10px;
}

.spBtn-bar::after {
  bottom: 10px;
}

/* コンタクト */
.c-contact {
  margin-top: 240px;
  padding: 90px 0 100px;
  background-color: var(--bg-color);

  @media screen and (max-width: 767px) {
    margin-top: 200px;
    padding: 80px 0;
  }

  &-title {
    margin-bottom: 0;
  }

  &-text {
    margin-top: 32px;
    font-size: 1.125rem;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-top: 12px;
      font-size: 0.875rem;
    }
  }

  &-c-btn {
    margin-top: 36px;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }
}


/* フッター */
.c-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: var(--bg-color-deep);

  @media screen and (max-width: 767px) {
    display: block;
    height: auto;
    padding: 50px 0 60px;
    text-align: center;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &-logo {
    width: 180px;
    line-height: 1;
  }
}

.c-footerNav {
  height: 100%;

  &-list {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 767px) {
      display: block;
      margin-top: 32px;
    }
  }

  &-item {
    margin-left: 4.4vw;

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }

    & + & {
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }

    &:last-child {
      @media screen and (max-width: 767px) {
        margin-top: 32px;
      }
    }
  }

  &-link {
    font-size: 1rem;
    color: #fff;
  }

  &-instagram {
    width: 32px;
    height: 32px;
  }
}


/* ====================
 制作実績
======================= */
.c-worksList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 45px;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 48px;
  }
}

.c-worksList-item {
}

.c-worksList-imgWrap {
  position: relative;
}

.c-worksList-img {
}

.c-worksList-label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 26px;
  background-color: var(--bg-color-label);
  color: #fff;

  @media screen and (max-width: 767px) {
  }
}

.c-worksList-name {
  margin-top: 16px;
  font-size: var(--font-size-lg);
  color: var(--accent-color);

  @media screen and (max-width: 767px) {
    margin-top: 8px;
    font-size: 1rem;
  }
}

.c-worksList-text {
  margin-top: 4px;

  @media screen and (max-width: 767px) {
    margin-top: 2px;
    font-size: 0.75rem;
  }
}

/* ====================
 ページ読み込み
======================= */
@import "./pages/top";
@import "./pages/about";
@import "./pages/works";
@import "./pages/service";
@import "./pages/contact";
