@charset "UTF-8";
/* cssリセット */
/*利用するタグによってこちらの内容は増やす*/
*, *::before, *::after {
  /* 直感的なボックスサイズのモデルを使用 */
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-seri;
  font-feature-settings: "palt";
  font-weight: normal;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* ====================
 変数
======================= */
:root {
  --content-width: 1080px;
  --content-width-sm: 720px;
  --base-color: #808080;
  --accent-color: #1DA9B3;
  --bg-color: #F0F5F5;
  --bg-color-deep: #77CBD1;
  --bg-color-label: #A8DBE2;
  --font-size-lg: 1.125rem;
}

/* ====================
 共通要素
======================= */
body {
  font-size: 0.875rem;
  color: var(--base-color);
  line-height: 1.75;
}

.c-section {
  margin: 240px auto 0;
  padding: 0 20px;
  max-width: var(--content-width);
  box-sizing: content-box;
}
.c-section-title {
  margin-bottom: 80px;
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}

.c-under {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 120px 20px 0;
  box-sizing: content-box;
}
.c-under-title {
  margin-bottom: 100px;
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}

.c-underSectionTitle {
  text-align: center;
}
.c-underSectionTitle-inner {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 1px solid #77CBD1;
  font-size: 1.25rem;
  color: var(--accent-color);
}

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  margin: 80px auto 0;
  background-color: var(--bg-color-deep);
  border-radius: 25px;
  font-size: 1rem;
  color: #fff;
}

/* ヘッダー */
.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-left: 40px;
}
.c-header-logo {
  width: 180px;
  line-height: 1;
}

.c-nav {
  height: 100%;
}
.c-nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.c-nav-item {
  margin-left: 4.4vw;
}
.c-nav-item--contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 180px;
  background-color: var(--bg-color-deep);
  color: #fff;
  text-align: center;
}
.c-nav-link {
  font-size: 1rem;
}

/* コンタクト */
.c-contact {
  margin-top: 240px;
  padding: 90px 0 100px;
  background-color: var(--bg-color);
}
.c-contact-title {
  margin-bottom: 0;
}
.c-contact-text {
  margin-top: 32px;
  font-size: 1.125rem;
  text-align: center;
}
.c-contact-c-btn {
  margin-top: 36px;
}

/* フッター */
.c-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: var(--bg-color-deep);
}
.c-footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 20px;
}
.c-footer-logo {
  width: 180px;
  line-height: 1;
}

.c-footerNav {
  height: 100%;
}
.c-footerNav-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.c-footerNav-item {
  margin-left: 4.4vw;
}
.c-footerNav-link {
  font-size: 1rem;
  color: #fff;
}
.c-footerNav-instagram {
  width: 32px;
  height: 32px;
}

/* ====================
 制作実績
======================= */
.c-worksList {
  display: grid;
  gap: 80px 45px;
  grid-template-columns: repeat(3, 1fr);
}

.c-worksList-imgWrap {
  position: relative;
}

.c-worksList-label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 26px;
  background-color: var(--bg-color-label);
  color: #fff;
}

.c-worksList-name {
  margin-top: 16px;
  font-size: var(--font-size-lg);
  color: var(--accent-color);
}

.c-worksList-text {
  margin-top: 4px;
}

/* ====================
 ページ読み込み
======================= */
/* ====================
 トップページ
======================= */
.p-top-hero {
  position: relative;
}
.p-top-heroText {
  position: absolute;
  top: 11.9vw;
  left: 10.24vw;
  width: 21vw;
  max-width: 288px;
}
.p-top-about {
  text-align: center;
}
.p-top-aboutTitle {
  line-height: 1.5625;
}
.p-top-aboutText {
  margin-top: 54px;
  font-size: 1.125rem;
  line-height: 2;
}
.p-top-aboutText + .p-top-aboutText {
  margin-top: 32px;
}
.p-top-aboutLogo {
  width: 124px;
  margin-top: 60px;
}
.p-top-problemList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.p-top-problemCopy {
  margin-top: 24px;
  font-size: 18px;
  color: var(--accent-color);
}
.p-top-problemText {
  margin-top: 20px;
}
.p-top-serviceList {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(3, 1fr);
  max-width: var(--content-width-sm);
  margin: 0 auto;
}
.p-top-serviceImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.p-top-serviceImg--derection {
  width: 142px;
}
.p-top-serviceImg--web {
  width: 160px;
}
.p-top-serviceImg--sns {
  width: 122px;
}
.p-top-serviceCopy {
  margin-top: 32px;
  font-size: var(--font-size-lg);
  color: var(--accent-color);
  text-align: center;
}
.p-top-serviceText {
  margin-top: 16px;
  line-height: 1.75;
}
/* ====================
 私について
======================= */
.p-about-profile {
  display: flex;
  align-items: center;
  max-width: var(--content-width-sm);
  margin: 0 auto;
}
.p-about-profileName {
  font-size: 1.25rem;
  color: var(--accent-color);
}
.p-about-profileText {
  margin-top: 20px;
}
.p-about-profileImg {
  width: 316px;
  margin-left: 60px;
}
.p-about-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.p-about-instagramImg {
  width: 40px;
  height: 40px;
}
.p-about-instagramText {
  margin-left: 12px;
  color: #999;
}
.p-about-skill {
  margin: 80px auto 0;
}
.p-about-skillList {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.p-about-skillItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid var(--bg-color-deep);
  border-radius: 50%;
  font-size: 0.75rem;
  color: var(--accent-color);
  text-align: center;
}
.p-about-skillItem + .p-about-skillItem {
  margin-left: 20px;
}
.p-about-logo {
  margin-top: 150px;
  text-align: center;
}
.p-about-logoImg {
  margin-top: 50px;
  width: 124px;
  height: 106px;
}
.p-about-logoText {
  margin-top: 60px;
  font-size: 1rem;
}
.p-about-logoText + .p-about-logoText {
  margin-top: 24px;
}

/* ====================
 制作実績
======================= */
.p-works-category + .p-works-category {
  margin-top: 100px;
}
.p-works-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 36px;
  background-color: var(--bg-color-label);
  font-size: 1.125rem;
  color: #fff;
}
.p-works-label + .p-works-label {
  margin-left: 12px;
}
.p-works-list {
  margin-top: 32px;
}

/* ====================
 サービス
======================= */
.p-service-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 660px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}
.p-service-section + .p-service-section {
  margin-top: 100px;
}
.p-service-sectionImgWrap {
  display: flex;
  align-items: center;
  width: 190px;
}
.p-service-sectionImg--derection {
  width: 108px;
}
.p-service-sectionImg--web {
  width: 140px;
}
.p-service-sectionImg--sns {
  width: 120px;
}
.p-service-sectionImg--design {
  width: 120px;
}
.p-service-sectionImg--pc {
  width: 108px;
}
.p-service-sectionInner {
  width: 470px;
}
.p-service-sectionTitle {
  font-size: 1.25rem;
  color: var(--accent-color);
}
.p-service-sectionText {
  margin-top: 12px;
  font-size: 0.9375rem;
}
.p-service-sectionBtn {
  margin: 24px 0 0 0;
  width: 220px;
  height: 32px;
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */