/* ====================
 制作実績
======================= */
.p-works {
  &-category {
    & + & {
      margin-top: 100px;

      @media screen and (max-width: 767px) {
        margin-top: 120px;
      }
    }
  }

  &-labelWrap {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 36px;
    background-color: var(--bg-color-label);
    font-size: 1.125rem;
    color: #fff;

    @media screen and (max-width: 767px) {
      width: 150px;
      height: 32px;
      font-size: 0.9375rem;
    }

    & + & {
      margin-left: 12px;
    }
  }

  &-list {
    margin-top: 32px;
  }
}
