/* ====================
 私について
======================= */
.p-about {
  &-profile {
    display: flex;
    align-items: center;
    max-width: var(--content-width-sm);
    margin: 0 auto;
  }

  &-profileInner {
  }

  &-profileName {
    font-size: 1.25rem;
    color: var(--accent-color);
  }

  &-profileText {
    margin-top: 20px;
  }

  &-profileImg {
    width: 316px;
    margin-left: 60px;
  }

  &-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  &-instagramImg {
    width: 40px;
    height: 40px;
  }

  &-instagramText {
    margin-left: 12px;
    color: #999;
  }

  &-skill {
    margin: 80px auto 0;
  }

  &-skillList {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &-skillItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid var(--bg-color-deep);
    border-radius: 50%;
    font-size: 0.75rem;
    color: var(--accent-color);
    text-align: center;

    & + & {
      margin-left: 20px;
    }
  }

  &-logo {
    margin-top: 150px;
    text-align: center;
  }

  &-logoImg {
    margin-top: 50px;
    width: 124px;
    height: 106px;
  }

  &-logoText {
    margin-top: 60px;
    font-size: 1rem;

    & + & {
      margin-top: 24px;
    }
  }
}
